.home-main {
  background-color: var(--color-blue-dark);
  height: 100vh;
}

.welcome-section {
  padding: 40px 20px;
}

.welcome-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.welcome-image-container img {
  width: 180px;
  height: auto;
}

.welcome-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.welcome-content-container h1 {
  color: var(--color-blue-light);
  font-size: 20px;
  font-weight: 700;
}

.welcome-content-container h2 {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.welcome-content-container p {
  color: var(--color-gray-light);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .home-main {
    padding: 150px 0;
  }

  .welcome-section-container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .welcome-image-container {
    margin: 0;
  }

  .welcome-image-container img {
    width: 400px;
  }

  .welcome-content-container h2 {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .welcome-content-container p {
    font-size: 20px;
  }

  .welcome-content-container {
    height: 400px;
    justify-content: space-between;
  }
}
