.big-button {
    color: var(--color-blue-dark);
    background-color: var(--color-blue-light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    border-radius: 8px;
}
